.card-group
	background: #ddd
	border-radius: 1rem
	display: flex
	flex-flow: row wrap
	max-width: 100%
	position: relative
	padding: 1rem 0 0 1rem
	
.card
	flex: 0 0 auto
	margin-right: 1rem
	margin-bottom: 1rem
	
.clickable
	cursor: pointer
	
.clickable:hover
	background: #cfcfcf