.card-box
	border-radius: 0.4rem
	box-shadow: 0 0 2px black
	font-size: 1.1rem
	height: 13rem
	overflow: hidden
	padding: 1rem
	position: relative
	-webkit-user-select: none
	width: 13rem
	word-wrap: break-word
	
.clickable
	cursor: pointer
	
.clickable:hover
	box-shadow: 0 0 2px 1px #555

.white-card
	background: white
	
.black-card
	background: black
	color: white