.game-list
	padding: 2rem
	display: flex
	flex-flow: row wrap
	
.game
	margin-right: 1rem
	margin-bottom: 1rem
	
.player-names
	background: linear-gradient(to bottom, transparent 0, white 10px)
	bottom: 0
	color: #333
	font-size: 0.8rem
	max-height: 6rem
	overflow: hidden
	padding: 0.8rem 0.5rem 0.5rem 0
	position: absolute