.game
	padding: 2rem
	
.played-cards, .player-cards
	display: flex
	flex-flow: row wrap
	
.player-cards
	box-sizing: border-box
	max-width: 100%
	
.played-cards
	align-items: center
	align-content: flex-start
	
.card
	flex: 0 0 auto
	margin-right: 1rem
	margin-bottom: 1rem
	
.grouped-cards
	flex: 0 0 auto
	margin-right: 1rem
	margin-bottom: 1rem
		
.player-list
	padding: 1rem 2rem
	
.player-name
	font-weight: bold