.game
	padding: 2rem
	
.played-cards, .player-cards
	display: flex
	flex-flow: row wrap
	
.player-cards
	box-sizing: border-box
	max-width: 100%
	
.played-cards
	align-items: center
	align-content: flex-start
	
.card
	flex: 0 0 auto
	margin-right: 1rem
	margin-bottom: 1rem
	
.payers-picking-cards
	flex: 1 1 auto
	text-align: center
	line-height: 13rem
	font-size: 2rem
	color: #999
	
.grouped-cards
	flex: 0 0 auto
	margin-right: 1rem
	margin-bottom: 1rem
