.lobby
	padding: 1.5rem

.player
	padding: 0.3rem
	:global(.label)
		margin-right: 0.3rem
	
.player-name
	display: inline-block
	font-weight: bold
	padding: 0 0.3rem
	vertical-align: middle
	
.buttons
	padding: 1.5rem 0.5rem
	
	:global(.btn)
		margin-right: 0.5rem