.login
	align-items: center
	background: url('../assets/blue-pattern.jpg')
	background-size: cover
	display: flex
	height: calc(100vh - 6rem)
	justify-content: center
	padding: 2rem
	text-align: center
	
.form
	background: rgba(50, 50, 100, 0.25)
	flex: 0 1 auto
	height: auto
	padding: 2rem
	width: 30rem
	
.heading
	color: #fafafa
	font-size: 2.5rem
	font-weight: bold
	padding-bottom: 2rem
	text-shadow: 1px 1px 1px black

.input
	/**/
	
.label
	color: white
	text-shadow: 0 1px 1px black

.button
	/**/
