.menu
	width: auto
	border-bottom-left-radius: 0.5rem
	float: right
	padding: 0.5rem 2rem 0.5rem 2rem
	background: rgba(150, 150, 150, 0.3)
	display: flex
	justify-content: flex-end
	
	> *
		margin-left: 0.5rem
		
.menu::after
	clear: both